@import url("https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #ba2f3e;
  --secondary: #bf5d4d;
  --accent: #031a2f;
  --neutral: #3d3d3f;
  --neutralContent: #636363;
  --base100: #fff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Itim", cursive;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1300px) {
  .container {
    max-width: 1280px !important;
  }
}

.active {
  color: var(--primary);
}

.shadow {
  box-shadow: 0 20px 27px 0px #0000000d !important;
}
.shadow-lg {
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c !important;
}

.primary_btn {
  background: var(--primary);
  color: var(--base100);
  padding: 7px 20px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  font-size: 15px;
  transition: all 0.3s ease;
}

.primary_btn:hover {
  color: var(--primary);
  background: transparent;
}

.form_group input,
.form_group textarea,
.form_group select {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px;
  outline: none;
  font-size: 15px;
  margin-top: 3px;
}

@media only screen and (min-width: 1024px) {
  .hero_slider {
    width: calc(100% - 270px);
  }
}

@media only screen and (max-width: 400px) {
  .menu_wrap {
    width: 90% !important;
  }

  .account_sidebar {
    width: 90% !important;
  }

  .admin_sidebar {
    width: 90% !important;
  }
}

.overlay {
  position: fixed;
  top: -33px;
  left: 0;
  background: #00000066;
  width: 100%;
  height: 110vh;
  z-index: 9999;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease;
}

.overlay_show {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 1024px) {
  .menu_wrap {
    position: fixed;
    top: -33px;
    left: 0;
    width: 300px;
    height: 110vh;
    z-index: 9999;
    background: var(--base100);
    box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;

    transition: all 0.3s ease;
    transform: translateX(-100%);
  }

  .menu_wrap_show {
    transform: translateX(0%) !important;
  }
}

@media only screen and (max-width: 640px) {
  .overlay,
  .menu_wrap {
    top: 0;
    height: 100vh;
  }
}

/* ---------------Shop page -------------------*/
.shop_categories {
  width: 300px;
  background: var(--base100);
  border-radius: 5px;
  padding: 6px;
  position: sticky;
  top: 65px;
  align-self: self-start;
}

.shop_products {
  width: calc(100% - 300px);
  background: var(--base100);
  border-radius: 5px;
  padding: 6px;
}

.shop_categories ul li a {
  color: #404145e4;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 8px;

  transition: all 0.3s ease;
}
.shop_categories ul li a:hover {
  background: #dddddd32;
  color: var(--primary);
}

@media only screen and (max-width: 768px) {
  .shop_products {
    width: 100%;
  }
}

/* ----------------Account --------------------- */
.account_sidebar {
  width: 300px;
  min-height: 70vh;
  background: var(--base100);
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;
  padding: 10px;
  border-radius: 5px;
}
.account_content {
  width: calc(100% - 300px);
  background: var(--base100);
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
  .account_sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 9999;
    background: var(--base100);
    transition: all 0.3s ease;
  }

  .account_sidebar_show {
    transform: translateX(0%);
  }

  .account_content {
    width: 100%;
  }
}

table {
  width: 100%;
  font-size: 15px;
  border-radius: 6px;
  overflow: hidden;
}

table thead th {
  background: #dddddd94;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #404145e6;
  text-transform: uppercase;
  text-align: start;
  white-space: nowrap;
}

table tbody td {
  padding: 10px;
  text-align: start;
  border-bottom: 1px solid #dddddd94;
}

.add_product input[type="file"] {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  position: absolute;
  top: -31px;
  left: 0;
  z-index: 1;
}

.jodit-wysiwyg {
  min-height: 200px !important;
}

/* -----------Profile----------- */
.update_image_wrap {
  position: relative;
  width: 95px;
  height: 95px;
  border-radius: 50%;
}
.update_image_btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #0000004e;
  opacity: 0;
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}
.update_image_wrap:hover .update_image_btn {
  opacity: 1;
}

/* --------------Modal------------ */
.modal_overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #00000063;
  z-index: 9999;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.modal_overlay_show {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--base100);
  border-radius: 10px;
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.modal_show {
  opacity: 1;
  visibility: visible;
}

/* Table */
.border_table thead {
  background-color: transparent;
}
.border_table thead th {
  background-color: #dddddd34;
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}
.border_table tbody td {
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}

/* .react-dropdown-select-input {
  border: none !important;
} */

.add_product_details .jodit-wysiwyg {
  min-height: 350px !important;
}

.css-wmy1p7-ReactDropdownSelect:hover,
.css-wmy1p7-ReactDropdownSelect:focus-within {
  border-color: #ddd !important;
}

/*------------- Category Dropdown -----------*/
.category_dropdown,
.category_sub_dropdown {
  min-width: 250px;
  max-width: max-content;
  background: var(--base100);

  position: absolute;
  top: 0;
  left: 100%;
  z-index: 99999;
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;

  display: none;
  transition: all 0.3s ease;
}

.categories li:hover .category_dropdown {
  display: block;
}

.category_dropdown li:hover .category_sub_dropdown {
  display: block;
}

/* ---------------Pagination-------------------- */
.pagination-container {
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  margin-top: 40px;
}

.pagination-container button {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 7px 18px;
  height: 35px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.pagination-container button:hover {
  background: #ddd;
}

.pagination-container .prevBtn,
.pagination-container .nextBtn {
  font-size: 18px;
  padding: 7px 10px;
}

.pagination-container button.active {
  background: var(--primary);
  color: var(--base100);
  border-color: 1px solid var(--primary);
}

@media only screen and (max-width: 640px) {
  .pagination-container button {
    margin: 4px;
  }
}
