@import url("https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Itim", cursive;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1200px !important;
  }
}

.active {
  color: #f47c20;
}

.shadow {
  box-shadow: 0 20px 27px 0px #0000000d !important;
}
.shadow-lg {
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c !important;
}

.form_group input,
.form_group textarea,
.form_group select {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px;
  outline: none;
  font-size: 15px;
  margin-top: 3px;
}

@media only screen and (min-width: 1024px) {
  .hero_slider {
    width: calc(100% - 270px);
  }
}

@media only screen and (max-width: 400px) {
  .menu_wrap {
    width: 90% !important;
  }
}

@media only screen and (max-width: 768px) {
  .overlay {
    position: fixed;
    top: -33px;
    left: 0;
    background: #00000066;
    width: 100%;
    height: 110vh;
    z-index: 9999;

    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease;
  }

  .overlay_show {
    opacity: 1;
    visibility: visible;
  }

  .menu_wrap {
    position: fixed;
    top: -33px;
    left: 0;
    width: 300px;
    height: 110vh;
    z-index: 9999;
    background: #fff;
    box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;

    transition: all 0.3s ease;
    transform: translateX(-100%);
  }

  .menu_wrap_show {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 640px) {
  .overlay,
  .menu_wrap {
    top: 0;
    height: 100vh;
  }
}

/* ---------------Shop page -------------------*/
.shop_categories {
  width: 300px;
  background: #fff;
  border-radius: 5px;
  padding: 6px;
  position: sticky;
  top: 65px;
  align-self: self-start;
}

.shop_products {
  width: calc(100% - 300px);
  background: #fff;
  border-radius: 5px;
  padding: 6px;
}

.shop_categories ul li a {
  color: #404145e4;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 8px;

  transition: all 0.3s ease;
}
.shop_categories ul li a:hover {
  background: #dddddd32;
  color: #f47c20;
}

@media only screen and (max-width: 768px) {
  .shop_products {
    width: 100%;
  }
}

/* ----------------Account --------------------- */
.account_sidebar {
  width: 300px;
  min-height: 70vh;
  background: #fff;
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;
  padding: 10px;
  border-radius: 5px;
}
.account_content {
  width: calc(100% - 300px);
  background: #fff;
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;
  padding: 10px;
  border-radius: 5px;
}

/* ----------------Admin------------------- */
.admin_sidebar {
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;
}

.admin_content {
  width: calc(100% - 310px);
  background: #fff;
  min-height: 100vh;
  position: relative;
  left: 310px;
  padding: 0px 20px;
}

.admin_siderbar ul li a {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px;
  font-size: 15px;
  transition: all 0.3s ease;
}

.admin_siderbar ul li a:hover {
  color: #f47c20;
}

.admin_siderbar .active {
  box-shadow: 3px -2px 20px 0px #0000000c, 0px 4px 20px 0px #0000000c;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
}

@media only screen and (max-width: 1024px) {
  .admin_sidebar {
    transform: translateX(-100%);
    z-index: 9999;
    background: #fff;
    transition: all 0.3s ease;
  }

  .admin_sidebar_show {
    transform: translateX(0%);
  }

  .admin_content {
    width: 100%;
    left: 0;
    padding: 10px;
  }
}

table {
  width: 100%;
  font-size: 15px;
  border-radius: 6px;
  overflow: hidden;
}

table thead th {
  background: #dddddd94;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #404145e6;
  text-transform: uppercase;
  text-align: start;
  white-space: nowrap;
}

table tbody td {
  padding: 10px;
  text-align: start;
  border-bottom: 1px solid #dddddd94;
}

.add_product input[type="file"] {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  position: absolute;
  top: -31px;
  left: 0;
  z-index: 1;
}
